@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@500&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
  
  .gradient-box {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(to bottom right, #ff7e5f, #feb47b); /* default gradient when page loads */
    margin-right: 20px;
  }
  
  .input-box {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
  }
  
  label {
    margin-bottom: 10px;
    margin-right: 100px;
    font-weight: bold;
  }
  
  #gradientInput {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    width: 300px;
    margin-left: 2px;
  }

  h1 {
    text-decoration: overline;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }

  #previewLink {
    align-items: center;
    display: flex;
    justify-content: center;
    background: rgba(136, 149, 238, 0.467);
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.0)
  }

  #previewLink::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 750ms
   }

   #previewLink:hover {
    color: #e8e8e8;
   }
   
   #previewLink:hover::before {
    width: 100%;
   }

   #randomGradientBtn {
    align-items: center;
    display: flex;
    justify-content: center;
    background: rgba(136, 149, 238, 0.467);
    color: white;
    padding: 14px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
    text-decoration: none;
    font-size: 15px;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.0);
    cursor: pointer;
   }

   #randomGradientBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 750ms
   }

   #randomGradientBtn:hover {
    color: #e8e8e8;
   }

   #randomGradientBtn:hover::before {
    width: 100%;
   }